/*------------------------------------*\
    STYLES.SCSS
\*------------------------------------*/
/*------------------------------------*\
    _VARIABLES.SCSS
\*------------------------------------*/
/*------------------------------------*\
    _MIXINS.SCSS
\*------------------------------------*/
/*------------------------------------*\
    _TYPOGRAPHY.SCSS
\*------------------------------------*/
/* line 6, sass/_typography.scss */
body {
  font-family: sans-serif;
  line-height: 1.375;
  color: black; }

/* line 12, sass/_typography.scss */
p {
  font-size: 1em;
  line-height: 1.375; }

/* line 18, sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.375; }

/* line 22, sass/_typography.scss */
h1 {
  font-size: 36px; }

/* line 26, sass/_typography.scss */
h2 {
  font-size: 30px; }

/* line 30, sass/_typography.scss */
h3 {
  font-size: 24px; }

/* line 34, sass/_typography.scss */
h4 {
  font-size: 20px; }

/* line 38, sass/_typography.scss */
h5 {
  font-size: 16px; }

/* line 42, sass/_typography.scss */
h6 {
  font-size: 14px; }

/*------------------------------------*\
    _GRID.SCSS
\*------------------------------------*/
/* line 10, sass/_grid.scss */
.container {
  max-width: 1290px;
  margin: 0px auto;
  position: relative;
  padding: 0 15px 0 15px; }

/* line 30, sass/_grid.scss */
.grid1 {
  width: 100%; }
  @media (min-width: 992px) {
    /* line 30, sass/_grid.scss */
    .grid1 {
      width: 6.2015503876%;
      float: left;
      margin-left: 2.3255813953%; } }

/* line 30, sass/_grid.scss */
.grid2 {
  width: 100%; }
  @media (min-width: 992px) {
    /* line 30, sass/_grid.scss */
    .grid2 {
      width: 14.7286821705%;
      float: left;
      margin-left: 2.3255813953%; } }

/* line 30, sass/_grid.scss */
.grid3 {
  width: 100%; }
  @media (min-width: 992px) {
    /* line 30, sass/_grid.scss */
    .grid3 {
      width: 23.2558139535%;
      float: left;
      margin-left: 2.3255813953%; } }

/* line 30, sass/_grid.scss */
.grid4 {
  width: 100%; }
  @media (min-width: 992px) {
    /* line 30, sass/_grid.scss */
    .grid4 {
      width: 31.7829457364%;
      float: left;
      margin-left: 2.3255813953%; } }

/* line 30, sass/_grid.scss */
.grid5 {
  width: 100%; }
  @media (min-width: 992px) {
    /* line 30, sass/_grid.scss */
    .grid5 {
      width: 40.3100775194%;
      float: left;
      margin-left: 2.3255813953%; } }

/* line 30, sass/_grid.scss */
.grid6 {
  width: 100%; }
  @media (min-width: 992px) {
    /* line 30, sass/_grid.scss */
    .grid6 {
      width: 48.8372093023%;
      float: left;
      margin-left: 2.3255813953%; } }

/* line 30, sass/_grid.scss */
.grid7 {
  width: 100%; }
  @media (min-width: 992px) {
    /* line 30, sass/_grid.scss */
    .grid7 {
      width: 57.3643410853%;
      float: left;
      margin-left: 2.3255813953%; } }

/* line 30, sass/_grid.scss */
.grid8 {
  width: 100%; }
  @media (min-width: 992px) {
    /* line 30, sass/_grid.scss */
    .grid8 {
      width: 65.8914728682%;
      float: left;
      margin-left: 2.3255813953%; } }

/* line 30, sass/_grid.scss */
.grid9 {
  width: 100%; }
  @media (min-width: 992px) {
    /* line 30, sass/_grid.scss */
    .grid9 {
      width: 74.4186046512%;
      float: left;
      margin-left: 2.3255813953%; } }

/* line 30, sass/_grid.scss */
.grid10 {
  width: 100%; }
  @media (min-width: 992px) {
    /* line 30, sass/_grid.scss */
    .grid10 {
      width: 82.9457364341%;
      float: left;
      margin-left: 2.3255813953%; } }

/* line 30, sass/_grid.scss */
.grid11 {
  width: 100%; }
  @media (min-width: 992px) {
    /* line 30, sass/_grid.scss */
    .grid11 {
      width: 91.4728682171%;
      float: left;
      margin-left: 2.3255813953%; } }

/* line 41, sass/_grid.scss */
.clear {
  margin-left: 0px;
  clear: left; }

/* line 50, sass/_grid.scss */
.container .grid1,
.container .grid2,
.container .grid3,
.container .grid4,
.container .grid5,
.container .grid6,
.container .grid7,
.container .grid8,
.container .grid9,
.container .grid10,
.container .grid11,
.container .grid12 {
  background: #bababa;
  padding: 15px 0;
  margin-bottom: 15px; }

/*------------------------------------*\
    _GLOBAL.SCSS
\*------------------------------------*/
